{% extends 'base.html' %} 

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display text-center">SOBRE NOSOTROS</h1>
    <p>Este proyecto se enfoca en solucionar uno de los problemas más comunes que enfrentan las personas sordas en su interacción con las entidades públicas: la falta de una comunicación efectiva. En muchas ocasiones, las personas sordas encuentran dificultades para expresar sus necesidades y comprender las respuestas de los funcionarios públicos debido a la falta de capacitación en lenguaje de señas y otras herramientas de comunicación.

      Para solucionar este problema, se ha propuesto la implementación de una aplicación que permita la comunicación entre personas sordas y los funcionarios de las entidades públicas de manera más eficaz. Esta herramienta tiene como función principal transcribir de manera precisa el lenguaje de señas en texto escrito, lo que permitirá a cualquier persona que no conozca el lenguaje de señas comprender lo que se está comunicando.
      
      La implementación de esta herramienta no solo beneficiará a las personas sordas, sino también a los funcionarios públicos que, al no tener conocimientos en lenguaje de señas, se ven limitados en su capacidad de atender a todas las personas que requieren de sus servicios.</p>
  </section>
  <section class="card card-body">
    <h1 class="display text-center">VISIÓN</h1>
    <p>Es ser una APP centrada en mejorar la comunicación entre una persona sorda y funcionarios de las intituciones públicas; 
      para derribar barerras y salir de nuestra zona de confort con ello construir una sociedad más inclusiva.</p>
  </section>
  <section class="card card-body">
    <h1 class="display text-center">MISIÓN</h1>
    <p>Satisfacer las necesidades de las personas sordas y los funcionarios 
      de intituciones públicas, para ello se piensa en una 
      APP que facilite la comunicación y se mejore la inclusión de las personas sordas.</p>
  </section>

  <div class="text-center">
    <a class ="btn btn-info" href="/signin">
      Signin
    </a>
    <a class ="btn btn-primary" href="/signup">
      Signup
    </a>
  </div>

</main>

{% endblock %}